.accordion-wrapper {
  margin-top: 1em;
  overflow: hidden;
  border-radius: 8px;
  background-color: transparent;
}

.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #000;
}

.accordion-label {
  margin: 0;
  display: flex;
  padding: 16px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.accordion-label .module-number {
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 5px;
  padding-bottom: 8px;
  background-color: #000;
}

.accordion-label:hover {
  color: #ffffff;
  background-color: #050828;
}

.accordion-label:hover .module-number {
  color: #000;
  background-color: #ffffff;
}

.accordion-label::after {
  width: 16px;
  height: 26px;
  content: "\276F";
  text-align: center;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordion-label.open {
  background-color: #050828;
  color: #ffffff;
}

.accordion-label.open .module-number {
  color: #000;
  background-color: #ffffff;
}

.accordion-content {
  max-height: 0;
  color: #000;
  padding: 0 16px;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.accordion-content.open {
  padding: 16px;
  max-height: 500px;
}

.accordion-content p {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 16px;
}

.accordion-label.open::after {
  transform: rotate(90deg);
}

.list-item {
  font-size: 18px;
  font-weight: bold;
}
